<div id = "replaceable">

<% provide(:title, "All Leagues") %>

<div id = "replaceable">

<center><h1>Leagues</h1>

</center> 


<br>
<center>
<div class = "kaaywintable1">
 <table>

	
		
		
	<tr>
		<td>id</td>
		<td>Name</td>
		<td>Active</td>
		<td>Sport</td>
		<td>Actions</td>
	</tr>
	<%= render @leagues %>


		

	<br>



	</table>
	</div>
</center>
</div>
</div>
