<div id = "replaceable">


<center><h1>Leagues</h1>

</center> 


<%fromResultsMenu = true%>
<center>
<%=button_to "<<back to sport", results_path, :status => 'completed',method: :get %>
<div class = "kaaywintable1">
 <table>

	
		
		
	<tr>
		<td>id</td>
		<td>Name</td>
		<td>Active</td>
		<td>Sport</td>
		<td>Actions</td>
	</tr>
	<%= render @leagues, :fromResultsMenu => fromResultsMenu %>


		

	<br>



	</table>

	</div>
	<br>
	<%=button_to "<<back to sports",results_path, method: :get  %>
</center>
</div>
</div>
