<div class= "container">
<div class = "row">
<div class = "span10">
<% provide(:title, "All Leagues") %>
<center><h1>All Leagues</h1>
<%= button_to "Register a new League", new_league_path, method: :get %>
</center> 

<%=will_paginate %>
<br>
<center>
<div class = "kaaywintable1">
 <table>

	
		
		
	<tr>
		<td>id</td>
		<td>Name</td>
		<td>Active</td>
		<td>Sport</td>
		<td>Actions</td>
	</tr>
	<%= render @leagues %>


		
	<%=will_paginate %>
	<br>



	</table>
	</div>
</center>
</div>
</div>
</div>