 <body style="background-attachment: fixed; background-repeat: no-repeat;" background="/assets/bground.jpg">

 <table border = 0>
 <tr>
 <td>
 <img src= "/assets/betslip1.png", id = "slip2">
 </td>
 </tr>
 <tr>
 <td>
 <img src= "/assets/betslip.png", "slip2">
 </td>
 </tr>
 </table>