

<li>
<%=link_to sport.name, sport %>
<% if current_user.role = 1%>
<%= link_to "delete", sport, method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "edit", edit_sport_path(sport)  %>
<%end%>


</li>
