<div class= "container">
<div class = "row">
<div class = "span10">
<% provide(:title, "All Sports") %>
<center> <h1>All Sports</h1>
<%= button_to "Register a new Sport", new_sport_path, method: :get %> 
</center> 
<%=will_paginate %>
<div class="kaaywintable1">

		<table>
	
		<tr>
		<td>Name</td>
		<td>Date Created</td>
		<td>Actions</td>
		</tr>

	<%= render @sports %>
	</table>
	

	<%=will_paginate %>
	<br>
	
	</div>
	</div>
	</div>
	</div>
	


