<div id = "replaceable">
<div class= "container">
<div class = "row">
<div class = "span10">
<% provide(:title, "All Sports") %>
<center> <h1>All Sports</h1>
<%= button_to "Register a new Sport", new_sport_path, method: :get %> 
</center> 

<div class="kaaywintable1">
<%fromResultsMenu=false%>
		<table>
	
		<tr>
		<td>Name</td>
		<td>Date Created</td>
		<td>Actions</td>
		</tr>

	<%= render @sports, :fromResultsMenu => fromResultsMenu %>
	</table>
	

	
	<br>
	
	</div>
	</div>
	</div>
	</div>
</div>	


