<% provide(:title, "All Sports") %>
<center> <h1>All Sports</h1>
<%= button_to "Register a new Sport", new_sport_path, method: :get %> 
</center> 
<%=will_paginate %>
<div class="table">

<aside class="span10" >
		<section>
		<table>
	
		
		<th>Name</th>
		<th>Date Created</th>
		<th>Actions</th>


	<%= render @sports %>
	</table>
	

	<%=will_paginate %>
	<br>
	</section>
	</aside>
	</div>


