<% if @sport.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			The form contains <%=pluralize(@sport.errors.count, "error")%>
		</div>
		<ul>
		<% @sport.errors.full_messages.each do |msg| %>
			<li>* <%= msg %></li>
		<%end%>
		</ul>
		</div>
	<%end%>
