

	<aside class = "span10">
	<table style = "width:500px" border=1>
	
	

  

	
	<tr>

	<td><%= f.text_field :name %></td>
	<td><%= f.text_field :odds %></td>
	<td><%=f.link_to_remove "remove odd" %> </td>
	 
	
	
	</tr>
	
	
	
	</table>
	</aside>
