

	
	
	
	<%= f.text_field :name, :disabled =>true %>

	 <aside class = "span3" align = "center">

	 <div class = "kaaywintable1" align="center">
		<table style = "width:200px" border=1 align="center">
	
	<tr><td>Pick</td></tr>

	<%= f.fields_for :bet_items do |f| %>
	
     <%= render 'events/bet_item_results' , :f =>f%>
    
     <%end%>
     

	</table>
	</aside>


   
	<br>
	
	
	<br>
	

