<% provide(:title, "All Events") %>
<div id = "replaceable">

<center><h1>Played Events</h1>

</center> 



<br>
<div class = "kaaywintable1">



	
		
		<table>
	
		<td>id</td>
		<td>Name</td>
		<td>date</td>
		<td>result</td>
		<td>Active</td>
		<td>League</td>
		<td>Actions</td>


	<%= render @events %>
	
	</table>
	
	<br>





</div>
</div>





