<% provide(:title, "All Events") %>
<div id = "replaceable">

<center><h1>Played Events</h1>

</center> 



<br>
<%=button_to "<<back to leagues", leagues_path, method: :get, :remote => true %>
<div class = "kaaywintable1">

<%fromResultsMenu = true %>

	
		
		<table>
		<tr>
		<td>id</td>
		<td>Name</td>
		<td>date</td>
		<td>result</td>
		<td>Active</td>
		<td>League</td>
		<td>Actions</td>
		</tr>

	<%= render @events, :fromResultsMenu => fromResultsMenu %>
	
	</table>
	
	<br>





</div>
</div>





