<% provide(:title, "All Events") %>
<div class= "container">
<div class = "row">
<div class = "span10">
<center><h1>All Events</h1>
<%= button_to "Register a new event", new_event_path, method: :get%>
</center> 



<br>
<div class = "kaaywintable1">



	
		
		<table>
	
		<td>id</td>
		<td>Name</td>
		<td>date</td>
		<td>result</td>
		<td>Active</td>
		<td>League</td>
		<td>Actions</td>


	<%= render @events %>
	
	</table>
	
	<br>





</div>
</div>
</div>
</div>







