<!-- Nav tabs -->
<div class= "container">
<div class = "row">
<div class = "span10">

<ul class="nav nav-tabs">
  <li class="active"><a href="#results" data-toggle="tab">Results</a></li>
  <li><a href="#finished" data-toggle="tab">Finished events in tickets</a></li>
  <li><a href="#pending" data-toggle="tab">Pending events in tickets</a></li>
  <li><a href="#pending-entry" data-toggle="tab">All finished events</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="results">
<div class = "kaaywintable1">
	<table>
	<tr>
		<td>Name</td>
		<td>Date Created</td>
		<td>Actions</td>
		</tr>

  <%=render Sport.all   %>
  </table>
  </div>
  </div>
  <div class="tab-pane fade" id="finished">...</div>
  <div class="tab-pane fade" id="pending">..ssdsss.</div>
  <div class="tab-pane fade" id="pending-entry">...</div>


	

 
 
 	
  </div>
</div>
</div>
</div>
</div>


