<!-- Nav tabs -->
<%provide(:title, "results")%>
<div class= "container">
<div class = "row">
<div class = "span20">
 <div class = "tabbable">
<ul class="nav nav-tabs">
  <li class="active"><a href="#results" data-toggle="tab">Results</a></li>
  <li><a href="#finished" data-toggle="tab">Finished events in tickets</a></li>
  <li><a href="#pending" data-toggle="tab">Pending events in tickets</a></li>
  <li><a href="#pending-entry" data-toggle="tab">All finished events</a></li>
</ul>

<!-- Tab panes -->

<div class="tab-content">

  <div class="tab-pane active" id="results">
        <div id = "replaceable">
        <h1> Sports </h1>
      <div class = "kaaywintable1">
      
	    <table>
	     <tr>
		      <td>Name</td>
		      <td>Date Created</td>
		      <td>Actions</td>
		  </tr>
    
      <%=render Sport.all   %>

    </table>
    </div>
  </div>

</div>

 
<div class="tab-pane" id="finished">sssssss</div>
<div class="tab-pane" id="pending">..ssdsss.</div>
<div class="tab-pane" id="pending-entry"> <%store_location%><%=render 'events/finished_events'%></div>


	


</div>
</div>
</div>
</div>
</div>
