<% provide(:title, "All Events") %>

<div id = "replaceable">
<div class= "container">
<div class = "row">
<div class = "span10">
<center><h1>All Events</h1>

<%= button_to "Register a new event", new_event_path, method: :get%>
</center> 


<% fromResultsMenu = false %>
<br>
<div class = "kaaywintable1">
  <table>



	<tr>
		<td>id</td>
		<td>Name</td>
		<td>date</td>
		<td>result</td>
		<td>Active</td>
		<td>League</td>
		<td>Actions</td>
		</tr>
	<%= render @events, :fromResultsMenu => fromResultsMenu %>
	
	</table>

	<br>





</table>

</div>
</div>
</div>
</div>
</div>






