@import "bootstrap";

#sidebar {
	background-color: #202020;
	foreground-color: #FFFFFF;
	text-color: #202020;
	ul li {color:white;}
	variable {color:#0066FF;}

	
}

.kaaywintable1 {

                margin:0px;padding:0px;

                width:100%;

                box-shadow: 10px 10px 5px #888888;

                border:1px solid #000000;

               

                -moz-border-radius-bottomleft:0px;

                -webkit-border-bottom-left-radius:0px;

                border-bottom-left-radius:0px;

               

                -moz-border-radius-bottomright:0px;

                -webkit-border-bottom-right-radius:0px;

                border-bottom-right-radius:0px;

               

                -moz-border-radius-topright:0px;

                -webkit-border-top-right-radius:0px;

                border-top-right-radius:0px;

               

                -moz-border-radius-topleft:0px;

                -webkit-border-top-left-radius:0px;

                border-top-left-radius:0px;

}.kaaywintable1 table{

    border-collapse: collapse;

        border-spacing: 0;

                width:100%;

                height:100%;

                margin:0px;padding:0px;

}.kaaywintable1 tr:last-child td:last-child {

                -moz-border-radius-bottomright:0px;

                -webkit-border-bottom-right-radius:0px;

                border-bottom-right-radius:0px;

}

.kaaywintable1 table tr:first-child td:first-child {

                -moz-border-radius-topleft:0px;

                -webkit-border-top-left-radius:0px;

                border-top-left-radius:0px;

}

.kaaywintable1 table tr:first-child td:last-child {

                -moz-border-radius-topright:0px;

                -webkit-border-top-right-radius:0px;

                border-top-right-radius:0px;

}.kaaywintable1 tr:last-child td:first-child{

                -moz-border-radius-bottomleft:0px;

                -webkit-border-bottom-left-radius:0px;

                border-bottom-left-radius:0px;

}.kaaywintable1 tr:hover td{

               

}

.kaaywintable1 tr:nth-child(odd){ background-color:#5b5b60; }

.kaaywintable1 tr:nth-child(even)    { background-color:#ffffff; }.kaaywintable1 td{

                vertical-align:middle;

               

               

                border:1px solid #000000;

                border-width:0px 1px 1px 0px;

                text-align:left;

                padding:7px;

                font-size:15px;

                font-family:Arial;

                font-weight:normal;

                color:#000000;

}.kaaywintable1 tr:last-child td{

                border-width:0px 1px 0px 0px;

}.kaaywintable1 tr td:last-child{

                border-width:0px 0px 1px 0px;

}.kaaywintable1 tr:last-child td:last-child{

                border-width:0px 0px 0px 0px;

}

.kaaywintable1 tr:first-child td{

                                background:-o-linear-gradient(bottom, #878596 5%, #333333 100%);      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #878596), color-stop(1, #333333) );

                background:-moz-linear-gradient( center top, #878596 5%, #333333 100% );

                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#878596", endColorstr="#333333");                background: -o-linear-gradient(top,#878596,333333);

 

                background-color:#878596;

                border:0px solid #000000;

                text-align:center;

                border-width:0px 0px 1px 1px;

                font-size:14px;

                font-family:Arial;

                font-weight:bold;

                color:#ffffff;

}

.kaaywintable1 tr:first-child:hover td{

                background:-o-linear-gradient(bottom, #878596 5%, #333333 100%);      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #878596), color-stop(1, #333333) );

                background:-moz-linear-gradient( center top, #878596 5%, #333333 100% );

                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#878596", endColorstr="#333333");                background: -o-linear-gradient(top,#878596,333333);

 

                background-color:#878596;

}

.kaaywintable1 tr:first-child td:first-child{

                border-width:0px 0px 1px 0px;

}

.kaaywintable1 tr:first-child td:last-child{

                border-width:0px 0px 1px 1px;

}

