<div id = "replaceable">
<div class= "container">
<div class = "row">
<div class = "span10">
<% provide(:title, "All Unused Scratch Cards") %>
<center> <h1>All Unused Scratch Cards</h1>

</center> 

<div class="kaaywintable1">

		<table>
	
		<tr>
		<td>ID</td>
		<td>Date Created</td>
		<td>Secret Number</td>
		<td>Status</td>
		<td>Credit</td>
		<td>Ticket ID</td>
		<td>Actions</td>
		
		</tr>

	<%= render @cards%>
	</table>
	

	
	<br>
	
	</div>
	</div>
	</div>
	</div>
</div>	


