<footer class="footer">
  <small>
  
    Kaaywin system administration by I-Link Systems
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.kaaywin">Kaaywin</a></li>
    </ul>
  </nav>
</footer>